
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    overflow: hidden;
    font-family: "Montserrat", sans-serif !important;
    background-image: url("bg.jpg") !important;
    background-size: cover;
    background-repeat: no-repeat;
    color: white !important;
}

.web-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.web-content {
    margin: auto auto;
}

.row {
    background-color: rgba(0, 0, 0, .18);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
    width: 70vh;
}

@media only screen and (max-width: 693px){
    .row {
        width: 50vh;
    }
}

@media only screen and (max-width: 498px){
    .row {
        width: 35vh;
    }
}

@media only screen and (max-width: 356px){
    .row {
        width: 20vh;
    }
}

.fa-circle-notch {
    -webkit-animation: spin 3s linear infinite;
    -moz-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

img {
    width: 24px;
    width: 24px;
}

a {
    color: white !important;
    transition: .2s;
    text-decoration: none !important;
}

a:hover {
    text-decoration: underline !important;
}

.fa-circle.online {
    color: rgb(67, 181, 129);
}

.fa-circle.offline {
    color: rgb(116, 127, 141);
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}